@model PhotoGallery.Models.Photo

<html>
<head>
    <style type="text/css">
        #createBox {
            margin-left: 30%;
            margin-right: 50%;
            width: 700px;
        }
    </style>

    <title>Upload Photo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/Content/HelperStyle.css" rel="stylesheet" type="text/css" />

</head>
<body style="background-color:#d5d5d5">
    <div class="main" style="background-color:#d5d5d5">
        <div class="register_account">
            <div class="wrap">

                <h4 class="title">Add Photo</h4>
                <hr />

                @using (Html.BeginForm("Create", "Photos", FormMethod.Post, new { EncType = "multipart/form-data", id = "createBox" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -35px;">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:30px">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -25px;">
                                <input style="margin-left: 10px; margin-top: 5px;" type="file" name="file" id="file" />
                            </div>
                        </div>

                        <div class="form-group" id="dateTime" style="margin-top:30px">
                            @Html.LabelFor(model => model.DateAdded, "Date Added: ", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -20px;">
                                @Html.DisplayFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:20px; margin-left: 20px">
                            <div class="col-md-offset-2 col-md-10" style="padding-top: 10px">
                                <input type="submit" value="Upload" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(function () { $('#dateTime :input').attr("disabled", true); });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
