@model PhotoGallery.Models.Photo

@{
    ViewBag.Title = "Edit";
}
<html>
<head>
    <style type="text/css">
        #createBox {
            margin-left: 30%;
            margin-right: 50%;
            width: 700px;
        }

        img {
            display: block;
            max-width: 320px;
            max-height: 200px;
            width: auto;
            height: auto;
            border-radius:5px;
        }
    </style>
    <title>Edit</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/main.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/hover_pack.js"></script>
    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>
</head>
<body>
    <div class="main">
        <div class="register_account">
            <div class="wrap">
                <h4 class="title">Edit</h4>
                <hr />

                @using (Html.BeginForm("Edit", "Photos", FormMethod.Post, new { EncType = "multipart/form-data", id = "createBox" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -35px;">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:30px">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -25px;">
                                @if (Model.Image != null)
<<<<<<< HEAD
                                {
                                    var base64 = Convert.ToBase64String(Model.Image);
                                    var imgsrc = string.Format("data:file/gif;base64,{0}", base64);
                                    <img src="@imgsrc" style="width: 320px; height:200px;" />
=======
                {
                    var base64 = Convert.ToBase64String(Model.Image);
                    var imgsrc = string.Format("data:file/gif;base64,{0}", base64);
                                    <img src="@imgsrc" style="width: 265px; height:265px;" />
>>>>>>> 1245cf809a1263c5626fbb23fe26cad8a6535df1
                                }
                                else
                                {
                                    <img src="http://wonkville.net/wp-content/uploads/2016/04/No-image-available.jpg" style="width: 150px; height:100px" />
                                }
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:30px">
                            @Html.LabelFor(model => model.DateAdded, "Date Added: ", htmlAttributes: new { @class = "control-label col-md-2" })
<<<<<<< HEAD
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -20px;">
                                @Html.DisplayFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
=======
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
>>>>>>> 1245cf809a1263c5626fbb23fe26cad8a6535df1
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:20px; margin-left: 18px">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="info fa fa-info-circle"><span>About</span></a>
        <div class="inner">
            <div class="content">
                <h3>Edit your pictures</h3>
                <p>Here you can change the picture title. The date is automaticaly asigned.</p>
            </div>
            <div class="copyright">
                <h3>Follow us</h3>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                </ul>
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
            </div>
        </div>
    </footer>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>