@model PhotoGallery.Models.PhotoViewModel

<html>
<head>
    <style type="text/css">
        #createBox {
            margin-left: 30%;
            margin-right: 50%;
            width: 700px;
        }

        img {
            display: block;
            max-width: 320px;
            max-height: 200px;
            width: auto;
            height: auto;
            border-radius: 5px;
        }
    </style>

    <title>Photo: Edit</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/Content/HelperStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

</head>
<body style="background-color:#d5d5d5">
    <div class="main" style="background-color:#d5d5d5">
        <div class="register_account">
            <div class="wrap">
                <h4 class="title">Edit Photo</h4>
                <hr />

                @using (Html.BeginForm("Edit", "Photos", FormMethod.Post, new { EncType = "multipart/form-data", id = "createBox" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.AuthorId)
                        @Html.HiddenFor(model=>model.Image)
                        @Html.HiddenFor(model=>model.DateAdded)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -35px;">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:30px">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -25px;">
                                @if (Model.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(Model.Image);
                                    var imgsrc = string.Format("data:file/gif;base64,{0}", base64);
                                    <img src="@imgsrc" alt="" />
                                }
                                else
                                {
                                    <img src="http://wonkville.net/wp-content/uploads/2016/04/No-image-available.jpg" style="width: 150px; height:100px" />
                                }
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:30px">
                            @Html.LabelFor(model => model.DateAdded, "Date Added: ", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -20px;">
                                @Html.DisplayFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="form-group" id="Category" style="margin-top:30px">
                            @Html.LabelFor(model => model.CategoryId, "Category ", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -35px;">
                                @Html.DropDownListFor(model => model.CategoryId,
                               new SelectList(Model.Categories, "Id", "Name"),
                               new { @class = "btn btn-info col-sm-12" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:20px; margin-left: 20px">
                            <div class="col-md-offset-2 col-md-10" style="padding-top: 10px">
                                @if (ViewBag.cancel == 1)
                                {
                                    @Html.ActionLink("Cancel", "Gallery", "Photos", null, new { @class = "btn btn-group-sm" })
                                }
                                else if (ViewBag.cancel == 2)
                                {
                                    @Html.ActionLink("Cancel", "MyGallery", "Photos", null, new { @class = "btn btn-group-sm" })
                                }
                                else if (ViewBag.cancel == 3)
                                {
                                    @Html.ActionLink("Cancel", "CategoryGallery", "Photos", new { @id = Model.CategoryId }, new { @class = "btn btn-group-sm" })
                                }
                                else if (ViewBag.cancel == 4)
                                {
                                    @Html.ActionLink("Cancel", "ResultGallery", "Photos", new { @id = Model.AuthorId }, new { @class = "btn btn-group-sm" })
                                }
                                else
                                {
                                    @Html.ActionLink("Cancel", "Index", "Home", new { @id = Model.CategoryId }, new { @class = "btn btn-group-sm" })
                                }

                                <input type="submit" value="Save" class="btn btn-warning" style="margin-left:20px;" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>