@model IEnumerable<PhotoGallery.Models.Photo>
<!DOCTYPE HTML>

<html>
<head>
    <title>My Gallery</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="~/Content/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HelperStyle.css" rel="stylesheet" type="text/css" />


</head>
<body class="backgroundColor">

    
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <div class="columns">

                @foreach (var photo in Model)
                {

                    <div>
                        @if (photo.Image != null)
                        {
                            var base64 = Convert.ToBase64String(photo.Image);
                            var imgsrc = string.Format("data:file/gif;base64,{0}", base64);
                            <div class="image fit">
                                <a href="#"><img src="@imgsrc" alt="" /></a>
                                <div class="g_desc" style="margin-top:10px">
                                    <div class="g_1">
                                        <h4 class="no"><a href="#">Title: @photo.Title</a></h4>
                                        <p class="g_2"><a href="#">Date: @photo.DateAdded.Date.ToString("dd/MM/yyyy")</a></p>
                                    </div>
                                    <div class="g_desc" style="margin-top:7px;">
                                        <div class="g_1" style="margin-left:70px">
                                            @Html.ActionLink("Edit", "Edit", "Photos", new { @id = photo.Id }, new { @class = "btn btn-group-sm" })
                                            @Html.ActionLink("Delete", "Delete", "Photos", new { @id = photo.Id }, new { @style = "margin-left:7px", @class = "btn btn-danger" })
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                           
                        }
                        else
                        {
                            <img src="http://wonkville.net/wp-content/uploads/2016/04/No-image-available.jpg" style="width: 150px; height:100px" />
                        }
                    </div>


                }

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="info fa fa-info-circle"><span>About</span></a>
        <div class="inner">
            <div class="content">
                <h3>This is your personal gallery.</h3>
                <p>No one has access to this gallery.Here you can edit or delete your images.</p>
            </div>
            <div class="copyright">
                <h3>Follow us</h3>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                </ul>
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>