@model PhotoGallery.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}
<html>
<head>
    <style type="text/css">
        #createBox {
            margin-left: 30%;
            margin-right: 50%;
            width: 700px;
        }
    </style>

    <title>User: Edit</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/Content/HelperStyle.css" rel="stylesheet" type="text/css" />

</head>
<body style="background-color:#d5d5d5">
    <div class="main" style="background-color:#d5d5d5">
        <div class="register_account">
            <div class="wrap">
                <h4 class="title">Edit User</h4>
                <hr />

                @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { EncType = "multipart/form-data", id = "createBox" }))
                {
                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -35px;">
                                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:30px">
                            @Html.LabelFor(model => model.User.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -35px;">
                                @Html.EditorFor(model => model.User.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.User.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:30px">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -35px;">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:30px">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-left: 150px; margin-top: -45px;">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-left:20px">
                            @for (int i = 0; i < Model.Roles.Count; i++)
                            {
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.HiddenFor(model => model.Roles[i].Name)
                                    @Html.CheckBoxFor(model => model.Roles[i].IsSelected)
                                    @Model.Roles[i].Name
                                </div>
                            }
                        </div>

                        <div class="form-group" style="margin-top:20px;">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Cancel", "List", "User", null, new { @class = "btn btn-default" })
                                <input type="submit" value="Save" class="btn btn-default" style="margin-left:20px;" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="info fa fa-info-circle"><span>About</span></a>
        <div class="inner">
            <div class="content">
                <h3>Edit current user</h3>
                <p>Here you can change everything about the user.</p>
            </div>
            <div class="copyright">
                <h3>Follow us</h3>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                </ul>
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
            </div>
        </div>
    </footer>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>